<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bodo - Simple One Page Personal</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link href="static/images/favicon.ico" rel="shortcut icon">

    <!--styles-->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.css" rel="stylesheet">
    <link href="static/css/magnific-popup.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
       <script type="text/javascript" src="static/js/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--PRELOADER-->
    <div id="preloader">
      <div id="status">
        <img alt="logo" src="static/images/logo-big.png">
      </div>
    </div>
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
      <div class="for-sticky">
        <!--LOGO-->
        <div class="col-md-2 col-xs-6 logo">
          <a href=""><img alt="logo" class="logo-nav" src="static/images/logo.png"></a>
        </div>
        <!--/.LOGO END-->
      </div>
      <div class="menu-wrap">
        <nav class="menu">
          <div class="menu-list">
            <a data-scroll="" href="#home" class="active">
              <span>Home</span>
            </a>
            <a data-scroll="" href="#about">
              <span>About us</span>
            </a>
            <a data-scroll="" href="#work">
              <span>Our work</span>
            </a>
             <a data-scroll="" href="#services">
              <span>Learning @ Club</span>
            </a>
            <a data-scroll="" href="#skill">
              <span>Skill Enhancement</span>
            </a>
            <a data-scroll="" href="#education">
              <span>Education</span>
            </a>
            <a data-scroll="" href="#testimonial">
              <span>Testimonial</span>
            </a>
            <a data-scroll="" href="#blog">
              <span>Blog</span>
            </a>
            <a data-scroll="" href="#contact">
              <span>Contact</span>
            </a>
          </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
      </div>
      <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button><!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->

    <!--CONTENT WRAP-->
    <div class="content-wrap">
      <!--CONTENT-->
      <div class="content">
        <!--HOME-->
        <section id="home">
          <div class="container">
            <div class="row">
              <div class="wrap-hero-content">
                  <div class="hero-content">
                    <h1>Hello</h1>
                    <br>
                    <span class="typed"></span>
                  </div>
              </div>
              <div class="mouse-icon margin-20">
                <div class="scroll"></div>
              </div>
            </div>
          </div>
        </section>
        <!--/.HOME END-->

        <!--ABOUT-->
        <section id="about">
          <div class="col-md-6 col-xs-12 no-pad">
            <div class="bg-about"></div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 white-col">
            <div class="row">
              <!--OWL CAROUSEL2-->
              <div class="owl-carousel2">
                <div class="col-md-12">
                  <div class="wrap-about">
                    <div class="w-content">
                      <p class="head-about">
                          Not just any other club, but a group of people truly dedicated for turning great event plans into the reality. Connecting the students in college and filling the void of Zeal in today's hectic schedule. Not all can be learned in the four walls of a class room, some special experiences need a greater exposure. Visit us and make your college life worth remembering.
                      </p>
                      <h3 class="name">
                        Team MINERVA
                      </h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                      <div class="wrap-about">
                        <table class="w-content">
                          <tr>
                            <td class="title">Name</td>
                            <td class="break">:</td>
                            <td> MINERVA, The Literary Club</td>
                          </tr>
                          <tr>
                            <td class="title">Phone </td>
                            <td class="break">:</td>
                            <td> 8853007600</td>
                          </tr>
                          <tr>
                            <td class="title">Email </td>
                            <td class="break">:</td>
                            <td> minerva.club@abes.ac.in</td>
                          </tr>
                          <tr>
                            <td class="title">Address </td>
                            <td class="break">:</td>
                            <td>Nh-24, ABES EC - Ghazibad</td>
                          </tr>
                          <tr>
                            <td class="title">Facebook </td>
                            <td class="break">:</td>
                            <td>facebook/lcabesec</td>
                          </tr>
                          <tr>
                            <td class="title">Instagram</td>
                            <td class="break">:</td>
                            <td>abesec.literaryclub</td>
                          </tr>
                          <tr>
                            <td class="title">Youtube</td>
                            <td class="break">:</td>
                            <td>coming Soon!</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/.OWL CAROUSEL2 END-->
            </div>
          </div>
        </section>
        <!--/.ABOUT END-->

        <!--WORK-->
        <section class="grey-bg mar-tm-10" id="work">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Our work</span>
                </h3>
                <p class="content-detail">
                    Minerva,The Literary Club Of ABES Engineering College is considered as one of
                    the most prestigious clubs of the college. The Club started its journey five years
                    ago, in the year 2013.
                    In these four years, the Club has achieved a lot with the help of hardwork and
                    dedication shown by the members associated with it and hence, is now one of the
                    most reputed clubs in our college.
                    The Club is known for it's level of sincerity, hardwork, dedication, management
                    and knowledge possessed by its members. Apart from academical growth,
                    personal growth is also required. The college provides an environment to
                    inculcate professionalism in oneself. We, at the literary club will help you to
                    furnish your talent and skills.
                    Your association with the Club will definitely give you the essence of pride and
                    feeling of being an elite.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--PORTFOLIO IMAGE-->
                <ul class="portfolio-image">
                  <li class="col-md-6">
                    <a href="static/images/recrutment.jpeg"><img alt="image" src="static/images/recrutment.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                           <p class="desc">Club Recruitment</p>
                        </div>

                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/images/prepup.jpeg"><img alt="image" src="static/images/prepup.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            The Prep-Up Challenge
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/images/debate.jpeg"><img alt="image" src="static/images/debate.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Debate : Get Listened
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/images/expresso.jpeg"><img alt="image" src="static/images/expresso.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Express-O-Mania
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/images/gd.jpeg"><img alt="image" src="static/images/gd.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Group Discussion
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-md-6">
                    <a href="static/images/essay.jpeg"><img alt="image" src="static/images/essay.jpeg">
                      <div class="decription-wrap">
                        <div class="image-bg">
                          <p class="desc">
                            Essay Writting : Might of pen.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
                <!--/.PORTFOLIO IMAGE END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.WORK END-->

        <!--SERVICES-->
        <section class="white-bg" id="services">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>learning @ Club</span>
                </h3>
                <p class="content-detail">
                    Our club covers a wide range of thing when it comes to giving exposure to its members. It's a well know fact that in today's time every organization hires people who are versatile when in comes to doing various jobs at your workplace. In order to bridge the gap between the industry and academia, our club gives real world hands on these following domains.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                        <h3 class="icon-use">
                          c
                        </h3>
                        <p class="head-sm">
                          MANAGEMENT
                        </p>
                        <p class="text-grey">
                          One gets to manage the club events and learn how to tackle the real world problems that comes in an organization, and builds team-work attitude.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <h3 class="icon-use">
                          b
                        </h3>
                        <p class="head-sm">
                          CONTENT WRITING
                        </p>
                        <p class="text-grey">
                            Content and report writing have become must have skills in today's time in any of the companies. Our club gives you ample of opportunities to work on your writing skills.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <h3 class="icon-use">
                          d
                        </h3>
                        <p class="head-sm">
                          ORGANIZING
                        </p>
                        <p class="text-grey">
                            Your creative thinking comes to no use unless you know how to convert the plans on paper into a working reality. Our club events gives you hands on experience where you learn by organizing various events.
                        </p>
                      </div>
                    </li>
                  </ul>

                  <ul class="listing-item">
                    <li>
                      <div class="col-md-4 col-sm-4">
                        <p class="icon-use">
                          f
                        </p>
                        <p class="head-sm">
                          CONTENT DESIGNING
                        </p>
                        <p class="text-grey">
                            In time of social media one can just not afford to miss out making and online presence with cool video and photo editing skills. Our clubs design its own videos and posters for social media.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <h3 class="icon-use">
                          p
                        </h3>
                        <p class="head-sm">
                          UX DESIGN
                        </p>
                        <p class="text-grey">
                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        </p>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-4 col-sm-4">
                        <h3 class="icon-use">
                          m
                        </h3>
                        <p class="head-sm">
                          FRONT END
                        </p>
                        <p class="text-grey">
                          Typi non habent claritatem insitam est usus legentis in iis qui facit eorum claritatem.
                        </p>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.SERVICES END-->

        <!--SKILLS-->
        <section class="grey-bg" id="skill">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Enhancing Skills</span>

                </h3>
                <p class="content-detail">
                  It's true that no one can be perfect. But surely we can inch towards the perfection by our constant efforts and right choice. At MINERVA we blend just the right amount of life and professionalism to make your life truly happening. As its said "you live only  once".
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                  <div class="skillbar" data-percent="98%">
                    <div class="title head-sm">
                      Public speaking
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="99%">
                    <div class="title head-sm">
                      Aesthetics
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="98%">
                    <div class="title head-sm">
                      Managerial skills
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="99%">
                    <div class="title head-sm">
                      Wit
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                  <div class="skillbar" data-percent="97%">
                    <div class="title head-sm">
                      Creativity
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div>
                </div>
                <!--/.SKILLST END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.SKILLS END-->

        <!--EDUCATION-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Education</span>
                </h3>
                <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2002 - 2005
                            </h2>
                            <p class="job">
                              Information System
                            </p>
                            <p class="company">
                              Telkom University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2005 - 2007
                            </h2>
                            <p class="job">
                              DKV
                            </p>
                            <p class="company">
                              UNIKOM
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <ul class="listing-item">
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2007 - 2009
                            </h2>
                            <p class="job">
                              Magister DKV
                            </p>
                            <p class="company">
                              ITB
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              2009 - 2010
                            </h2>
                            <p class="job">
                              Typhography Magister
                            </p>
                            <p class="company">
                              Florida University
                            </p>
                            <hr>
                            <div class="text-detail">
                              <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanita per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->

        <!--TESTIMONIAL-->
        <section id="testimonial">
          <div class="container">
            <div class="row wrap-testimonial">
              <div class="col-md-10 col-md-offset-1">
                <div class="owl-carousel">
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Reza did a phenominal job setting up my a website for my product He performed the task very quickly and efficiently. We know we have the superior topical pain relief cream on the market and he has helped us communicate that message via the website he built from scratch. Thanks! ”
                      </h3>
                      <p class="people">
                        Darin Cohen - Active10
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Another successful project working with Reza. He has great design skills, is very responsive and professional. Looking forward to the next opportunity to work together. ”
                      </h3>
                      <p class="people">
                        Marko Milicevic
                      </p>
                    </div>
                  </div>
                  <div class="list-testimonial">
                    <div class="content-testimonial">
                      <h3 class="testi">
                        “ Great designer! I like his sense of design, especially the color scheme. Quick turnaround. Look forward to work with him again. Thanks!! ”
                      </h3>
                      <p class="people">
                        JK Thang
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mask-testimonial"></div>
        </section>
        <!--/.TESTMONIAL END-->

        <!--BLOG-->
        <section class="grey-bg" id="blog">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h3 class="title-small-center text-center">
                  <span>Blog</span>
                </h3>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <p class="content-details text-center">
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                    </p>
                  </div>
                </div>
                <!--GRID BLOG-->
                <div class="grid">
                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog-1" class="img-circle text-center" src="static/images/blog-1.png">
                      <p class="subtitle fancy">
                        <span>09/01/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Popular Design in 2015
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                     <img alt="blog-4" class="img-circle text-center" src="static/images/blog-4.jpg">
                     <p class="subtitle fancy">
                        <span>08/20/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Just Start
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog6" class="img-circle text-center" src="static/images/blog-6.jpg">
                      <p class="subtitle fancy">
                        <span>08/11/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          The Huffington Post
                        </h3>
                      </a>
                      <p class="content-blog">
                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog2" class="img-circle text-center" src="static/images/blog-2.jpg">
                      <p class="subtitle fancy">
                        <span>08/03/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Manuk!
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog5" class="img-circle text-center" src="static/images/blog-5.jpg">
                      <p class="subtitle fancy">
                        <span>07/26/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Do Web Designer Really Need To Know UI/UX Design and Backend Code too?
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                      </p>
                    </div>
                  </div>

                  <div class="grid-item">
                    <div class="wrap-article">
                      <img alt="blog-3" class="img-circle text-center" src="static/images/blog-3.jpg">
                      <p class="subtitle fancy">
                        <span>08/03/2015</span>
                      </p>
                      <a href="#">
                        <h3 class="title">
                          Somewhere Place
                        </h3>
                      </a>
                      <p class="content-blog">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
                      </p>
                    </div>
                  </div>

                </div>
                <!--/.GRID BLOG END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.BLOG END-->

        <!--CONTACT-->
        <section id="contact" class="white-bg">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Contact</span>
                </h3>
                <p class="content-detail">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>

              </div>
              <div class="col-md-9 content-right">
                <form>
                  <div class="group">
                    <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
                  </div>
                  <div class="group">
                    <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
                  </div>
                  <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
                </form>
              </div>
            </div>
          </div>
        </section>
        <!--/.CONTACT END-->

        <!--FOOTER-->
        <footer>
          <div class="footer-top">
            <ul class="socials">
              <li class="facebook">
                <a href="#" data-hover="Facebook">Facebook</a>
              </li>
              <li class="twitter">
                <a href="#" data-hover="Twitter">Twitter</a>
              </li>
              <li class="gplus">
                <a href="#" data-hover="Google +">Google +</a>
              </li>
            </ul>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <img src="static/images/logo-bottom.png" alt="logo bottom" class="center-block" />
              </div>
            </div>
          </div>
        </footer>
        <!--/.FOOTER-END-->

      <!--/.CONTENT END-->
      </div>
    <!--/.CONTENT-WRAP END-->
    </div>


    <script src="static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.appear.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/js/classie.js" type="text/javascript"></script>
    <script src="static/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="static/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="static/js/masonry.js" type="text/javascript"></script>
    <script src="static/js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="static/js/typed.js" type="text/javascript"></script>
{#    <script src="static/js/main.js" type="text/javascript"></script>#}
    <script src="static/js/main1.js" type="text/javascript"></script>
  </body>
</html>